@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  body {
    @apply font-mono text-foreground;
    background: linear-gradient(120deg,
        #faf8f3 0%,
        #f0ebd2 40%,
        #e8dcc0 70%,
        #ddd0b0 100%);
    min-height: 100vh;
    width: 100%;
  }

  a,
  button {
    @apply outline-offset-1 text-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}